<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Approve</title>
</head>
<body>
<div layout:fragment="main-content">
<form action="#" th:action="@{/admin/estateapproval.html}" th:object="${prompt}"
      method="post">

  <div class="form-group">
    <label for="id">Estate id</label>
    <input type="text" id="id" class="form-control" th:field="*{id}">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>